appshot "mysql_userdb" do
  mysql name: "userdb", port: 1536, username: "pooky", password: "bear"
  xfs mount_point: "/mnt/untitled"
  ebs_snapshot volume_id: "vol-some_id", aws_access_key_id: "BOOM", aws_secret_access_key: "KEEP_IT_SECRET"
  ebs_prune volume_id: "vol-some_id", snapshots_to_keep: 3, minimum_retention_days: 0, aws_access_key_id: "BOOM", aws_secret_access_key: "KEEP_IT_SECRET"
end

