appshot "mysql_userdb" do
  mysql name: "userdb", port: 1536, user: "pooky"
  xfs mount_point: "/mnt/mysql"
  ext4 mount_point: "/mnt/mysql/log"
  ebs volume_id: "vol-4ed40599"
  prune max_copies: 15, retain: 5.days
end

appshot "main_postgresql" do
  postgresql name: "main_postgres"
  ext4 mount_point: "/mnt/postgresql"
  ebs volume_id: "vol-deadbee1"
  prune max_copies: 15, retain: 5.days
end
